.idea/
bin/
.docker_build/
.env

# dependencies
**/node_modules
.pnp
.pnp.js

# testing
/static/coverage

# production
/build
/static/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#sensitive commands
commands.md
